---
import LayoutMain from "../../layouts/LayoutMain.astro";
import SectionMain from "../../components/SectionMain.astro";
import Eyebrow from "../../components/Eyebrow.astro";
import Grid from "../../components/Grid.astro";
---

<LayoutMain>
    <SectionMain
        id="about"
        paddingTop="lg"
        paddingBottom="sm"
        contentClass="relative"
    >
        <div class="container-large">
            <Grid
                mobile={1}
                mobileLandscape={1}
                tablet={1}
                desktop={5}
                gap="gap-6"
            >
                <div class="col-span-1">
                    <Eyebrow label="Why we exist" class="text-orange mb-4" />
                </div>

                <div class="col-span-4">
                    <h1 class="h2">
                        We exist to make AI-native security a reality
                    </h1>
                    <p class="h4 mt-6">
                        Not just AI for security. The infrastructure the
                        security industry needs to operationalize AI at scale.
                    </p>
                </div>
            </Grid>
        </div>
    </SectionMain>
    <SectionMain
        id="our-story"
        paddingTop="sm"
        paddingBottom="sm"
        contentClass="bg-elevated section-border-bottom section-border-top relative"
    >
        <div class="container-large">
            <Grid
                mobile={1}
                mobileLandscape={1}
                tablet={1}
                desktop={5}
                gap="gap-6"
            >
                <div class="col-span-1">
                    <Eyebrow label="Our Story" class="text-orange mb-4" />
                </div>
                <div class="col-span-4">
                    <h2 class="h2">
                        Built by (and for) offensive security operators
                    </h2>
                    <p
                        class="text-body-md lg:text-body-lg text-muted mt-6"
                    >
                        Dreadnode was founded with the mission to prove AI can
                        perform offensive security operations. That thesis has
                        been validated across use cases. Offense was the proving
                        ground, and we now recognize that the opportunity is
                        even bigger: AI is going to change the entire security
                        stack. While we continue to prioritize offensive
                        security and AI red teaming capabilities, we’ve built
                        what’s required to achieve AI-native security.
                    </p>
                </div>
            </Grid>
        </div>
    </SectionMain>
</LayoutMain>
